.JokeItem {
  background: var(--bg-highlight);
  padding: var(--space-standard);
  margin: var(--space-min) 0;
  border: 1px solid var(--text-off);
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}