.SearchBox {
  /* margin-bottom: var(--space-max); */
}


.SearchBox input{
  background: var(--bg-secondary);
  padding: 5px 10px 5px 55px;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--text-off);
  border-radius: 8px;
  color: var(--text-primary);
}

.SearchBox input:focus{
  outline: 2px solid var(--text-highlight);
}